@mixin hammersmith() {
	font-family: 'Hammersmith One', sans-serif;
}

@mixin abeezee() {
	font-family: 'ABeeZee', sans-serif;
}

@mixin paytone() {
	font-family: 'Paytone One', sans-serif;
}

@mixin amaranth() {
	font-family: 'Amaranth', sans-serif;
}

@mixin imprima() {
	font-family: 'Imprima', sans-serif;
}