
// @mixin content-module() {
//     margin: 0 auto;
//     max-width: 1120px;
//     padding: 40px 30px 60px 30px;
// }

// Text
@mixin primary-text($size, $weight, $style, $color) {
    // font-family: $primary-typeface;
    font-size: $size;
    font-weight: $weight;
    font-style: $style;
    color: $color;
}

@mixin secondary-text($size, $color) {
    // font-family: $secondary-typeface;
    font-size: $size;
    color: $color;
}

// input mixin
@mixin primary-input() {
    position: relative;
    display: block;
    padding: 10px;
    width: 100%;
    background-color: transparent;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: $dark-brown;
    color: $dark-brown;
    outline: none;
    @include transition(all 80ms ease-in);
    &:hover {

    }
}

// Placeolder mixin
@mixin placeholder($font-size, $color) {
    input::-webkit-input-placeholder {
        font-size: $font-size;
        color: $color;
        line-height: 0.9em;
    }
    input:-moz-placeholder { /* Firefox 18- */
        font-size: $font-size;
        color: $color;
        line-height: 0.9em;
    }
    input::-moz-placeholder {  /* Firefox 19+ */
        font-size: $font-size;
        color: $color;
        line-height: 0.9em;
    }
    input:-ms-input-placeholder {
        font-size: $font-size;
        color: $color;
        line-height: 0.9em;
    }
    textarea::-webkit-input-placeholder {
        font-size: $font-size;
        color: $color;
        line-height: 0.9em;
    }
    textarea:-moz-placeholder { /* Firefox 18- */
        font-size: $font-size;
        color: $color;
        line-height: 0.9em;
    }
    textarea::-moz-placeholder {  /* Firefox 19+ */
        font-size: $font-size;
        color: $color;
        line-height: 0.9em;
    }
    textarea:-ms-textarea-placeholder {
        font-size: $font-size;
        color: $color;
        line-height: 0.9em;
    }
}

@mixin background-gradient($height-percent) {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e040a+0,000000+100&amp;0.85+0,0+100 */
  background: -moz-linear-gradient(top,  rgba(30,4,10,0.75) 0%, rgba(0,0,0,0) $height-percent); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,4,10,0.75)), color-stop($height-percent,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(30,4,10,0.75) 0%,rgba(0,0,0,0) $height-percent); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(30,4,10,0.75) 0%,rgba(0,0,0,0) $height-percent); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(30,4,10,0.75) 0%,rgba(0,0,0,0) $height-percent); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(30,4,10,0.75) 0%,rgba(0,0,0,0) $height-percent); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d91e040a', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
