
// Core Styles
body {
	@include amaranth();
	color: lighten($dark-brown, 5%);
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5 {
	@include paytone();
}

h1 {
	text-align: center;
	font-size: 1.8em;
}

h2 {
	text-align: center;
	font-size: 1.3em;
}

h3 {
	font-size: 1.2em;
	line-height: 1.4;
}

p {
	font-size: 0.9em;
	line-height: 1.7;
	margin-bottom: 1em;
}

a {
	text-decoration: none;
	color: lighten($dark-brown, 5%);
}

ul {
	li {
		font-size: 1.4em;
		line-height: 1.7;
		a {
			display: block;
			&:hover {
				color: $beige;
				transition: all 120ms ease-in;
			}
		}
	}
}

input, textarea {
	outline: none;
  @include primary-input();
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $green;
  }
}

button {
	background: none;
	border: none;
	@include paytone();
	outline: none;
	font-size: 1.2em;
	&:hover {
		color: $beige;
		transition: all 120ms ease-in;
	}
}

.container-fluid {
	max-width: 1160px;
}

.outer {
	padding: 0 10px;
}

// .caw {
// 	color: $purple;
// }
// .pfp {
// 	color: $orange;
// }
// .bca {
// 	color: $dark-brown;
// }
// .pvh {
// 	color: $green;
// }

// Header Styles

header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
	.menu {
		position: relative;
		display: inline-block;
		padding-bottom: 20px;
		background-color: $beige;
		button.nav-menu {
			position: absolute;
			width: 96px;
			padding: 16px 20px 16px 20px;
			background: url('../images/paper-bag-texture-menu.png');
			background-repeat: no-repeat;
		  background-size: cover;
		  // @include box-shadow(2px 2px 4px 0px rgba(35,31,32,0.13));
		  text-align: left;
		  z-index: 9999;
		}
		nav {
			position: absolute;
			top: -164px;
			width: 96px;
			font-size: 0.85em;
			background: url('../images/paper-bag-texture.png');
			background-repeat: no-repeat;
		  background-size: 100%;
		  @include box-shadow(2px 2px 4px 0px rgba(35,31,32,0.37));
		  z-index: 9998;
		  transition: all 0.2s ease;
		  &.show {
		  	top: 0px;
				transition: all 0.2s ease;
		  }
			ul {
				li {
					line-height: 1.4;
					&:first-of-type {
						a {
							padding: 59px 20px 0 20px;
						}
					}
					&:last-of-type {
						a {
							padding: 0 20px 16px 20px;
						}
					}
					a {
						padding: 0 20px 0 20px;
					}
				}
			}
		}
	}
}

// Intro Styles
section.intro {
	height: 240px;
	background: url('../images/super-nola-granola-from-bowl.jpg');
	background-repeat: no-repeat;
  background-size: 100%;
  color: $beige;
  .overlay {
  	padding-top: 25px;
  	height: 220px;
  	@include background-gradient(100%);
  }
	img.logo {
		display: block;
		margin: 0 auto 15px auto;
		width: 120px
	}
}

// About
section.about {
	.container-fluid {
		padding: 70px 0 70px 0;
		.row {
			position: relative;
			.shop-cta {
				position: absolute;
				top: -215px;
				right: 20px;
				width: 112px;
				&:hover {
					figure {
						figcaption {
							color: $beige;
							transition: all 120ms ease-in;
						}
					}
				}
				figure {
					img {
						width: 100%;
					}
					figcaption {
				    position: absolute;
				    top: 100px;
				    left: 36px;
				    @include paytone();
				    font-size: 1.2em;
					}
				}
			}
			.about-image {
				width: 100%;
				border: 5px solid $bag-brown;
				border-radius: 50%;
			}
			h3 {
				margin-bottom: 0.8em;
				max-width: 600px;
			}
		}
	}
}

// Product Styles
section.product {
	background: url('../images/super-nola-granola-ingredients.jpg');
	background-repeat: no-repeat;
  background-size: 100%;
  .overlay {
  	@include background-gradient(100%);
  	.container-fluid {
			padding: 70px 10px 0 10px;
			h2 {
				margin-bottom: 10px;
				color: $beige;
				&:nth-of-type(2) {
					margin-bottom: 40px;
				}
			}
			.card {
				padding: 20px;
				background-color: $beige;
				border-radius: 6px;
				div {
					padding: 20px 0 20px 0;
					border-radius: 8px;
					transition: all 0.2s ease;
					&:hover {
						cursor: pointer;
						background-color: lighten($dark-brown, 10%);
						color: $beige;
					}
					img {
						display: block;
						margin: 0 auto 20px auto;
						width: 65%;
					}
					span {
						padding: 0 10px 0 10px;
						display: block;
						text-align: center;
						font-size: 1.15em;
					}
				}
			}
		}
  }
}

// Product Detail Styles
div.product-details {
	display: none;
	z-index: 9999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
	overflow-y: scroll;
	.container-fluid {
		padding: 20px 10px 0 10px;
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
		.row {
			display: none;
			position: relative;
	    padding: 50px 20px 50px 20px;
			height: 95vh;
	    background-color: $beige;
	    border-radius: 6px;
	    overflow: scroll;
			.close {
				position: absolute;
				top: 20px;
				right:20px;
				cursor: pointer;
				&:hover {
					color: lighten($dark-brown, 20%);
				}
				strong {
					margin-left: 10px;
					font-size: 1.8em;
					line-height: 0.5;
				}
			}
			img {
				margin: 0 auto;
		    width: 70%;
		    display: block;
				&.nutrition-facts {
					width: 90%;
				}
				&.sc-product {
					margin-top: 15px;
				}
			}
			h3 {
		    font-size: 1.2em;
		    line-height: 0.8;
		    margin-bottom: 20px;
			}
			p {
				font-size: 0.9em;
			}
		}
	}
}

// Shop
section.shop {
	.container-fluid {
		padding: 0 0 70px 0;
		.shop-container {
			padding-top: 70px;
			color: lighten($dark-brown, 65%);
			h2 {
				margin-bottom: 70px;
			}
		}
		.locations {
			padding: 0 30px 0 30px;
			h2 {
				text-align: left;
			}
			h3 {
				text-align: left;
				margin-bottom: 30px;
			}
			ul.location-list {
				font-size: 0.8em;
				li:last-of-type {
					ul.location-address {
						margin-bottom: 0;
					}
				}
				ul.location-address {
					font-size: 0.55em;
					margin-bottom: 30px;
				}
			}
		}
	}
}

// Contact
section.contact {
	.contact-content {
    .contact-links {
			background: url('../images/super-nola-granola-pans.jpg');
			background-repeat: no-repeat;
		  background-size: 100%;
      padding: 50px 30px 50px 30px;
      line-height: 3.4em;
      color: $beige;
      h2 {
	      margin-bottom: 30px;
	      text-align: right;
	    }
	    h3 {
	    	text-align: right;
	    }
	    li {
				font-size: 0.95em;
	    	text-align: right;
	    	&:nth-of-type(3) {
	    		margin-top: 10px;
	    	}
	    	a {
	        font-size: 1em;
	        color: $beige;
	        text-decoration: underline;
	        i {
	          margin-right: 20px;
	          margin-left: 20px;
	          font-size: 1.3em;
	        }
	        &:hover {
	          color: lighten($dark-brown, 10%);
	        }
	      }
	    }
    }
    .contact-form {
    	position: relative;
    	padding: 70px 30px 70px 30px;
			font-size: 0.8em;
    	.contact-overlay {
    		position: absolute;
    		top: 0;
    		right: 0;
    		bottom: 0;
    		left: 0;
    		background-color: $white;
    		opacity: 0.6;
    	}
      form {
        .contact-name, .contact-email, .contact-message {
          position: relative;
          margin-bottom: 20px;
          height: 30px;
          input, textarea {
            position: absolute;
            bottom: 0;
          }
        }
        .contact-message {
        	height: 120px;
        	margin-bottom: 50px;
        }
        .name-label, .email-label, .message-label {
          position: absolute;
          top: 10px;
          display: none;
          font-size: 1.3em;
          color: darken($dark-brown, 10%);
          @include transition(all 500ms ease-in);
        }
        .input-focus-animate {
          display: inline-block;
          top: 0;
          @include transition(all 800ms ease-in);
        }
        @include placeholder(1.3em, $dark-brown);
        .contact-submit {
          padding: 16px 25px 16px 25px;
          width: auto;
          @include paytone();
					font-size: 1.5em;
					background: url('../images/paper-bag-texture-menu.png');
					background-repeat: no-repeat;
				  background-size: cover;
				  border-width: 0;
				  @include box-shadow(2px 2px 4px 0px rgba(35,31,32,0.37));
				  &:hover {
				  	color: $beige;
				  }
          &:focus {
            color: lighten($dark-brown, 10%)
          }
        }
      }
    }
  }
}



// Footer Styles
footer {
	background-color: $dark-brown;
	color: $beige;
	.container-fluid {
		padding: 70px 0 70px 0;
		ul li {
			display: inline-block;
			margin: 0 30px 15px 0;
			font-size: 1em;
			a {
				text-decoration: underline;
				color: lighten($dark-brown, 35%);
				&:hover {
					color: $beige;
					transition: all 120ms ease-in;
				}
			}
		}
		.cert-stamp {
			img {
				width: 100%;
			}
		}
	}
}

// Form Confirmation
section.form-confirmation {
	background: url('../images/super-nola-granola-pans.jpg');
	background-repeat: no-repeat;
  background-size: 100%;
  color: $beige;
  .overlay {
  	padding-top: 25px;
  	min-height: 700px;
  	@include background-gradient(40%);
  }
	img {
		width: 100%;
		margin-bottom: 15px;
	}
  h2 {
  	margin-bottom: 15px;
  }
  h1 {
  	a {
  		color: $beige;
  		text-decoration: underline;
  		&:hover {
				color: darken($beige, 5%);
				transition: all 120ms ease-in;
			}
  	}
  }
}

@media only screen and (min-width: $screen-xs-min) {

}

@media only screen and (min-width: $screen-sm-min) {
	h1 {
		text-align: center;
		font-size: 2.8em;
	}

	h2 {
		text-align: center;
		font-size: 2.2em;
	}

	h3 {
		font-size: 1.4em;
	}

	p {
		font-size: 1.3em;
	}

	button {
		font-size: 1.8em;
	}

	header {
		.menu {
			button.nav-menu {
				width: 125px;
			}
			nav {
				width: 125px;
				font-size: 1em
			}
		}
	}

	section.intro {
		height: 400px;
		.overlay {
			padding-top: 45px;
			height: 400px;
		}
		img.logo {
			margin: 0 auto 25px auto;
			width: 150px;
		}
	}

	section.product {
	  .overlay {
	  	.container-fluid {
				padding: 50px 10px 0 10px;
				.card {
					margin-bottom: 40px;
					div {
						padding: 40px 0 40px 0;
						&:nth-child(-n+2){
							margin-bottom: 0px;
						}
						span {
							font-size: 1.4em;
						}
					}
				}
			}
		}
	}

	div.product-details {
		.container-fluid {
			.row {
				height: auto;
				h3 {
			    font-size: 1.8em;
				}
				p {
					font-size: 1.15em;
				}
			}
		}
	}

	section.shop {
		.container-fluid {
			padding: 50px 0 50px 0;
			.shop-container {
				padding-top: 200px;
			}
			.locations {
				ul.location-list {
					font-size: 1em;
					ul.location-address {
						font-size: 0.55em;
					}
				}
			}
		}
	}

	section.contact {
		background: url('../images/super-nola-granola-pans.jpg');
		background-repeat: no-repeat;
	  background-size: 100%;
		.contact-content {
	    .contact-links {
				background: none;
	      line-height: 3.4em;
	      color: $beige;
	      h2 {
		      margin-bottom: 30px;
		    }
				li {
					font-size: 1.4em;
				}
			}
			.contact-form {
				font-size: 1em;
	      form {
	        .contact-name, .contact-email, .contact-message {
	          height: 60px;
					}
					.contact-submit {
						font-size: 1.75em;
					}
				}
			}
		}
	}

	footer {
		.container-fluid {
			ul li {
				margin: 0 30px 65px 0;
				font-size: 1.4em;
			}
		}
	}

	section.form-confirmation {
		.overlay {
			@include background-gradient(60%);
		}
		img {
	  	margin-bottom: 22px;
	  }
		h2 {
	  	margin-bottom: 22px;
	  }
	}

}

@media only screen and (min-width: $screen-md-min) {
	h1 {
		text-align: center;
		font-size: 4.8em;
	}

	h2 {
		text-align: center;
		font-size: 3em;
	}

	h3 {
		font-size: 1.6em;
	}

	section.intro {
		height: 590px;
		.overlay {
			height: 600px;
		}
		img.logo {
			width: 200px;
		}
	}

	section.about {
		.container-fluid {
			.row {
				.shop-cta {
					width: 142px;
					figure {
						figcaption {
							top: 120px;
					    font-size: 1.8em;
						}
					}
				}
				.about-image {
					border-width: 10px;
				}
			}
		}
	}

	div.product-details {
		.container-fluid {
			.row {

			}
		}
	}

	section.shop {
		.container-fluid {
			padding: 70px 0 70px 0;
		}
	}

	section.form-confirmation {
		.overlay {
			@include background-gradient(100%);
		}
		img {
	  	margin-bottom: 30px;
	  }
		h2 {
	  	margin-bottom: 30px;
	  }
	}

}

@media only screen and (min-width: $screen-lg-min) {

}

@media only screen and (min-width: 1400px) {

}
