
// Core Styles
body {
	@include amaranth();
	color: lighten($dark-brown, 5%);
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5 {
	@include paytone();
}

h1 {
	text-align: center;
	font-size: 4.8em;
}

h2 {
	text-align: center;
	font-size: 3em;
}

h3 {
	font-size: 1.8em;
	line-height: 1.4;
}

p {
	font-size: 1.3em;
	line-height: 1.7;
	margin-bottom: 1em;
}

a {
	text-decoration: none;
	color: lighten($dark-brown, 5%);
}

ul {
	li {
		font-size: 1.4em;
		line-height: 1.7;
		a {
			display: block;
			&:hover {
				color: $beige;
				transition: all 120ms ease-in; 
			}
		}
	}
}

input, textarea {
	outline: none;
  @include primary-input();
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $green;
  }
}

button {
	background: none;
	border: none;
	@include paytone();
	outline: none;
	font-size: 1.8em;
	&:hover {
		color: $beige;
		transition: all 120ms ease-in;
	}
}

.container-fluid {
	max-width: 1160px;
}

.outer {
	padding: 0 10px;
}

// Header Styles

header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
	.menu {
		position: relative;
		display: inline-block;
		padding-bottom: 20px;
		background-color: $beige;
		button.nav-menu {
			position: absolute;
			width: 130px;
			padding: 16px 25px 16px 25px;
			background: url('../images/paper-bag-texture-menu.png');
			background-repeat: no-repeat;
		  background-size: cover;
		  // @include box-shadow(2px 2px 4px 0px rgba(35,31,32,0.13));
		  text-align: left;
		  z-index: 9999;
		}
		nav {
			position: absolute;
			top: -164px;
			width: 130px;
			background: url('../images/paper-bag-texture.png');
			background-repeat: no-repeat;
		  background-size: 100%;
		  @include box-shadow(2px 2px 4px 0px rgba(35,31,32,0.37));
		  z-index: 9998;
		  transition: all 240ms ease-in;
		  &.show {
		  	top: 0px;
		  }
			ul {
				li {
					line-height: 1.4;
					&:first-of-type {
						a {
							padding: 59px 26px 0 26px;
						}
					}
					&:last-of-type {
						a {
							padding: 0 26px 16px 26px;
						}
					}
					a {
						padding: 0 26px 0 26px;
					}
				}
			}
		}
	}
}

// Intro Styles
section.intro {
	height: 590px;
	background: url('../images/super-nola-granola-from-bowl.jpg');
	background-repeat: no-repeat;
  background-size: 100%;
  color: $beige;
  .overlay {
  	padding-top: 45px;
  	height: 600px;
  	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e040a+0,000000+100&amp;0.85+0,0+100 */
		background: -moz-linear-gradient(top,  rgba(30,4,10,0.75) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,4,10,0.75)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(30,4,10,0.75) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(30,4,10,0.75) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(30,4,10,0.75) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(30,4,10,0.75) 0%,rgba(0,0,0,0) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d91e040a', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  }
}

img.logo {
	display: block;
	margin: 0 auto 25px auto;
	width: 200px;
}

// About
section.about {
	.container-fluid {
		padding: 50px 0 50px 0;
		.row {
			position: relative;
			.shop-cta {
				position: absolute;
				top: -150px;
				right: 20px;
				width: 142px;
				&:hover {
					figure {
						figcaption {
							color: $beige;
							transition: all 120ms ease-in;
						}
					}
				}
				figure {
					img {
						width: 100%;
					}
					figcaption {
				    position: absolute;
				    top: 121px;
				    left: 36px;
				    @include paytone();
				    font-size: 1.8em;
					}
				}
			}
			.about-image {
				width: 100%;
				border: 10px solid $bag-brown;
				border-radius: 50%;
			}
			h3 {
				margin-bottom: 0.8em;
			}
		}	
	}
}

// Product Styles
section.product {
	background: url('../images/super-nola-granola-from-bowl.jpg');
	background-repeat: no-repeat;
  background-size: 100%;
	.container-fluid {
		padding: 50px 10px 50px 10px;
		h2 {
			margin-bottom: 20px;
			color: $beige;
			&:nth-of-type(2) {
				margin-bottom: 40px;
			}
		}
	}
}

.card {
	padding: 50px 20px 50px 20px;
	background-color: $beige;
	border-radius: 6px;
	img {
		display: block;
		margin: 0 auto 20px auto;
	}
	h3 {
		text-align: center;
		color: $dark-brown;
	}
}

// Shop
section.shop {
	.container-fluid {
		padding: 50px 0 50px 0;
	}
}

// Contact
section.contact {
	background: url('../images/super-nola-granola-pans.jpg');
	background-repeat: no-repeat;
  background-size: 100%;
	.contact-content {
		padding: 0 10px 0 10px;
    .contact-links {
      padding: 50px 30px 50px 30px;
      line-height: 3.4em;
      color: $beige;
      h2 {
	      margin-bottom: 30px;
	      text-align: right;
	    }
	    h3 {
	    	text-align: right;
	    }
	    li {
	    	text-align: right;
	    	a {
	        font-size: 1em;
	        color: $beige;
	        i {
	          margin-right: 20px;
	          margin-left: 20px;
	          font-size: 1.3em;
	        }
	        &:hover {
	          background-color: lighten($dark-brown, 7%)
	        }
	      }
	    }
    }
    .contact-form {
    	position: relative;
    	padding: 50px 30px 50px 30px;
    	.contact-overlay {
    		position: absolute;
    		top: 0;
    		right: 0;
    		bottom: 0;
    		left: 0;
    		background-color: $white;
    		opacity: 0.6;
    	}
      form {
        .contact-name, .contact-email, .contact-message {
          position: relative;
          margin-bottom: 20px;
          height: 60px;
          input, textarea {
            position: absolute;
            bottom: 0;
          }
        }
        .contact-message {
        	height: 120px;
        }
        .name-label, .email-label, .message-label {
          position: absolute;
          top: 10px;
          display: none;
          font-size: 1.3em;
          color: darken($dark-brown, 10%);
          @include transition(all 500ms ease-in);
        }
        .input-focus-animate {
          display: inline-block;
          top: 0;
          @include transition(all 800ms ease-in);
        }
        @include placeholder(1.3em, $dark-brown);
        .contact-submit {
          width: auto;
          &:focus {
            background-color: lighten($purple, 10%)
          }
        }
      }
    }
  }
}



// Footer Styles
footer {
	.container-fluid {
		padding: 50px 0 50px 0;
	}
}